<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<h1>{{ _('Hi,')}} {{g.user.nickname}}!</h1>
<form action="" method="post" name="post">
    {{form.hidden_tag()}}
    <div class="form-group">
        {{ _('Say something:')}}
        <div class="row">
            <div class="col-lg-6 col-lg-offset-0">
                <div class="input-group">
                    {{form.hidden_tag()}}
                    {{ form.post(size = 30, maxlength = 140,class="form-control") }}
                    <span class="input-group-btn">
                        <input type="submit" class="btn btn-primary" value="{{ _('Post')}}">
                    </span>
                </div>
            </div>               
            {% for error in form.errors.post %}
                <div class="col-lg-2 col-lg-offset-0">
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            {{error}}
                        </div>
                </div>
            {% endfor %}
        </div>
    </div>
</form>
<!-- posts is a Paginate object -->
<div class="row">
{% for post in posts.items %}
    {% include 'post.html' %}
{% endfor %}
</div>
<nav>
  <ul class="pager">
    <li class="{% if not posts.has_prev %}disabled{% endif %}"><a href="{{ url_for('index', page = posts.prev_num) }}">{{ _('Next')}}</a></li>
    <li class="{% if not posts.has_next %}disabled{% endif %}"><a href="{{ url_for('index', page = posts.next_num) }}">{{ _('Previous')}}</a></li>
  </ul>
</nav>
{% endblock %}