<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<script type="text/javascript">
function set_openid(openid, pr)
{
    u = openid.search('<username>')
    if (u != -1) {
        // openid requires username
        user = prompt('Enter your ' + pr + ' username:')
        openid = openid.substr(0, u) + user
    }
    u = openid.search('<id>')
    if (u != -1) {
        // openid requires username
        user = prompt('Enter your ' + pr + ' id:')
        openid = openid.substr(0, u) + user
    }
    form = document.forms['login'];
    form.elements['openid'].value = openid
}
</script>
    <h1>Sign In</h1>
    <form action="" method="post" name="login">
        <div class="form-group">
            Please enter your OpenID, or select one of the providers below:
            <div class="row">
                 <div class="col-lg-6 col-lg-offset-0">
                    <div class="input-group">
                        {{form.hidden_tag()}}
                        {{form.openid(size=80,class="form-control")}}
                        <span class="input-group-btn">
                            <input type="submit" class="btn btn-primary" value="Sign In">
                        </span>
                    </div>
                </div>
                <div class="col-lg-6 col-lg-offset-0">
                    <div class="btn-group" role="group" aria-label="...">
                    {% for pr in providers %}
                        <button type="button" onclick="javascript:set_openid('{{pr.url}}', '{{pr.name}}');" class="btn btn-info">{{pr.name}}</button>
                    {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-lg-offset-0">
                    {{form.remember_me}} Remember Me
                </div>
            </div>
            <div class="row">
                {% for error in form.errors.openid %}
                    <div class="col-lg-3 col-lg-offset-0">
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                {{error}}
                            </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </form>
</div>
{% endblock %}