<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<table>
    <tr valign="top">
        <td><img src=""></td>
        <td>
            <h1>{{ _('User:')}} {{user.nickname}}</h1>
            {% if user.about_me %}<p>{{user.about_me}}</p>{% endif %}
            {% if user.last_seen %}<p><i>{{ _('Last seen:')}} {{momentjs(user.last_seen).calendar()}}</i></p>{% endif %}
            <p>{{user.followers.count()}} followers | 
            {% if user.id == g.user.id %}
                <a href="{{url_for('edit')}}">{{ _('Edit your profile')}}</a>
            {% elif not g.user.is_following(user) %}
                <a href="{{url_for('follow', nickname = user.nickname)}}">{{ _('Follow')}}</a>
            {% else %}
                <a href="{{url_for('unfollow', nickname = user.nickname)}}">{{ _('Unfollow')}}</a>
            {% endif %}
            </p>
        </td>
    </tr>
</table>
<hr>
<!-- posts is a Paginate object -->
<div class="row">
{% for post in posts.items %}
    {% include 'post.html' %}
{% endfor %}
</div>
<nav>
  <ul class="pager">
    <li class="{% if not posts.has_prev %}disabled{% endif %}"><a href="{{ url_for('user', nickname = user.nickname, page = posts.prev_num) }}">{{ _('Next')}}</a></li>
    <li class="{% if not posts.has_next %}disabled{% endif %}"><a href="{{ url_for('user', nickname = user.nickname, page = posts.next_num) }}">{{ _('Previous')}}</a></li>
  </ul>
</nav>
{% endblock %}